<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
	<!-- id pw birth age name -->
	<insert id="reg" parameterType="uvo">
		insert into user(id, pw, birth,
		age, name)
		values(#{id}, #{pw}, #{birth}, #{age}, #{name})
	</insert>
	<select id="login" parameterType="uvo" resultType="uvo">
		select * from
		user where id = #{id} and pw = #{pw}
	</select>
	<update id="logout" parameterType="string">
		update user set last_log = now() where id = #{id}
	</update>
	<!-- pw birth age name -->
	<update id="modify" parameterType="uvo">
		update user set pw = #{pw},	birth = #{birth}, age = #{age}, name = #{name}
		where id = #{id}
	</update>
	<delete id="delete" parameterType="String">
		delete from user where id = #{id}
	</delete>
	<select id="list" resultType="uvo">
		select * from user
	</select>
</mapper>
